body {
    background-color: rgb(215, 232, 255);
}

header {
    background-color: #1800ad;
    padding-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-footer {
    color: white;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    color: darkblue;
}

a{
    color: darkblue;
    font-style: italic;
}

h1 {
    color: DarkBlue;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.subtitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
}

.varios-subtitulo {
    text-align: center;
}

h2 {
    color: DarkBlue;
    font-size: large;
    font-style: italic;
}

h3 {
    color: DarkBlue;
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    color: DarkBlue;
    font-family: 'Times New Roman', Times, serif;
}

h5 {
    color: DarkBlue;
    font-family: 'Times New Roman', Times, serif;
}

h6 {
    color: DarkBlue;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: DarkBlue;
    font-family: 'Times New Roman', Times, serif;
}

.fondo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 2%;
}

footer {
    background-color: #1800ad;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}



/*Inicio*/
.enlaces-pages {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 1.5rem;
}

.page {
    width: 45%;
    height: auto;
    border: 2px double darkblue;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/*Sobre mí*/
.sobremi {
    width: 70%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    margin: 0 auto;
    margin-left: 20%;
    margin-right: 15%;
}

.sobremi-img {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Reseñas*/
.reseñas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); /* min-width relativo */
  gap: 1rem;
  padding: 1rem;
}


.reseña-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  padding: 1rem;

  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reseña-card:hover {
  transform: translateY(-0.3125rem);
  box-shadow: 0 0.375rem 1.25rem rgba(0, 0, 0, 0.15);
}

/*Imagen*/
.reseña-card .card-img-top {
    width: 50%;
    height: auto;
    display: block;
    border-bottom: 0.0625rem solid #eee;

    justify-content: center;
    align-items: center;
}


.reseña-card .card-body {
  padding: 1rem;
}

.reseña-card .puntuacion {
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #090042;
  text-align: center;
  display: block;
  margin: 0.5rem 0;
}

.reseña-accordion .accordion-button {
  background-color: #f8f8f8;
  color: #090042;
  font-weight: 400;
  font-size: 0.95rem;
}

.reseña-accordion .accordion-button:not(.collapsed) {
  background-color: #eaeaea;
}

.reseña-card .enlaces a {
  text-decoration: none;
  font-size: 0.95rem;
}

.reseña-card .enlaces a:hover {
  text-decoration: underline;
  color: #2200ff;
}

/*Responsive */
@media (max-width: 48rem) {
  .reseñas {
    grid-template-columns: 1fr;
  }
}



.cenizas-contenido {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  margin: 2%;
}

.cenizas-portada img {
  width: 15.625rem;
  height: auto;
}

.cenizas-texto {
  flex: 1;
}

@media (max-width: 768px) {
  .cenizas-contenido {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cenizas-texto {
    text-align: justify;
  }
}



/*Contacto*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2%;
}

form label, select, option, input, textarea {
    color: #1800ad;
}

form textarea {
    border: 1px double #1800ad;
}