body {
    background-color: rgb(215, 232, 255);
}

header {
    background-color: #1800ad;
    padding-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-footer {
    color: white;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    color: darkblue;
}

a{
    color: darkblue;
    font-style: italic;
}

h1 {
    color: DarkBlue;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: DarkBlue;
    font-size: x-large;
    font-style: italic;
}

h3 {
    color: DarkBlue;
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    color: DarkBlue;
    font-family: 'Times New Roman', Times, serif;
}

h5 {
    color: DarkBlue;
    font-family: 'Times New Roman', Times, serif;
}

h6 {
    color: DarkBlue;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: DarkBlue;
    font-family: 'Times New Roman', Times, serif;
}

.fondo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

footer {
    background-color: #1800ad;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}



.subtitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.enlaces-pages {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 1.5rem;
}

.page {
    width: 45%;
    height: auto;
    border: 2px double darkblue;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.sobremi {
    width: 70%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    margin: 0 auto;
    margin-left: 20%;
    margin-right: 15%;
}

.sobremi-img {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}